.row
  .col-xs-12
    h2 {{title}}
.row
  .col-xs-4
    form(role='form', novalidate, name='conditionsForm', ng-hide='hideZip')
      .form-group
        label(for='zip') Enter Zip Code
        input.form-control#zip(ng-maxlength='5', ng-minlength='5', required, ng-pattern='/[0-9]{5}/', ng-model='zip', type='text', name='zip')
      button.btn.btn-info(type='submit', ng-show='conditionsForm.$valid', ng-click='addZip()') Get Current Conditions

    h4(ng-show='showZip') Zip Code: {{zip}} &nbsp
      img(src='{{icon}}')
      div
      div Current Temperature: {{temp}} F
      div Feels Like: {{feelsLike}} F
      div Weather: {{weather}}
      button.btn.btn-info(type='submit', ng-click='addZip()') Get A Different Zip
